@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../public/bg1.png);
  color: white;
  font-size: calc(10px + 2vmin);
}

.card,
.card-home,
.game-over-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 35vh;
  background-image: url(../public/bg.jpg);
  border: 1px solid #f9b036;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #3d3d3d;
  color: #fff;
}

.card h1,
.card-home h1,
.game-over-screen h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}

.card-home {
  height: 35vh;
}

.dados-home h1 {
  font-size: 25px;
  letter-spacing: 5px;
}

.dados-home button,
.game-over-buttons button {
  background-color: #f9b036;
  color: #000;
  border: none;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  cursor: pointer;
  margin: 5px;
  padding: 7px 25px;
  font-size: 35px;
}

.game-over-buttons button {
  font-weight: 700;
  font-size: 25px;
  padding: 5px 15px;
}

.dados-home button:hover,
.game-over-buttons button:hover {
  background-color: #f9b036;
  color: #fff;
}

.game-info {
  color: #fff;
}

.game-play {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameover {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
}

.input-display,
.sequence-letter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 1px;
  padding: 4px;
  font-size: 1em;
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  width: 35px;
}

.input-display.correct {
  animation: correctInput 0.3s forwards;
  border: 2px solid green;
}

.input-display.incorrect {
  animation: incorrectInput 0.3s forwards;
  border: 2px solid red;
}

.restart-button {
  width: 50px;
  margin-bottom: 5px;
  background-color: #f9b036;
  color: #000;
  border-radius: 50px;
}

.sequence-letter.highlight {
  background-color: #f9b036;
  color: #000;
  border: 2px solid black;
}

.sequence-letter.typed {
  background-color: #f9b036;
  color: #000;
  border: 2px solid black;
}

.sequence-letter.error {
  animation: blink-red 0.5s;
}

.time-bar {
  height: 100%;
  background-color: #f9b036;
  transition: width 1s linear;
}

.time-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
 
  overflow: hidden;
}

.svg-container img {
  width: 150px;
}

@keyframes blink-red {

  0%,
  100% {

    background-color: #f9b036;
  }

  50% {
    background-color: red;
  }
}

@keyframes correctInput {
  0% {
    background-color: white;
  }

  100% {
    background-color: lightgreen;
  }
}

@keyframes incorrectInput {
  0% {
    background-color: white;
  }

  100% {
    background-color: lightcoral;
  }
}