.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #b4b4b4;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: #555;
  border: 1px solid #FFC046;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #3d3d3d;
  color: #fff;
  height: 30vh;
  margin-top: 50px;
  width: 30vw;
}

.card h1 {
  font-size: 25px;
}

.card-home {
  align-items: center;
  background-color: #555;
  border: 1px solid #FFC046;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #3d3d3d;
  color: #fff;
  display: flex;
  height: 30vh;
  justify-content: center;
  margin-top: 50px;
  width: 30vw;
}

.dados-home button,
.game-over-buttons button {
  background-color: #a9a9a9;
  border: 1px solid black;
  border-radius: 5px;
  color: #FFC046;
  cursor: pointer;
  font-size: 1em;
  margin: 5px;
  padding: 10px 20px;
}

.dados-home button:hover,
.game-over-buttons button:hover {
  background-color: #FFC046;
  color: #fff;
}

.dados-home h1 {
  font-size: 25px;
}

.game-info {
  color: #fff;
}

.game-over-screen {
  background-color: #555;
  border: 1px solid #FFC046;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #3d3d3d;
  color: #fff;
  height: 30vh;
  margin-top: 50px;
  padding-top: 25px;
  width: 30vw;
}

.game-over-screen h2 {
  font-size: 25px;
}

.input-display,
.sequence-letter {
  align-items: center;
  background-color: #555;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1em;
  justify-content: center;
  margin: 0 1px;
  padding: 4px;
  width: 35px;
}

.game-over-buttons button,
.input-display.correct,
.input-display.incorrect {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  border: 2px solid;
}

.game-play {
  align-items: center;
  flex-direction: column;
}

.gameover {
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
}

.input-display {
  background-color: white;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 20px;
  min-width: 100px;
  padding: 10px;
}

.input-display.correct {
  animation: correctInput 0.3s forwards;
  border: 2px solid green;
}

.input-display.incorrect {
  animation: incorrectInput 0.3s forwards;
  border: 2px solid red;
}

.sequence-letter {
  align-items: center;
  background-color: #555;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1em;
  justify-content: center;
  margin: 0 1px;
  padding: 4px;
  width: 35px;
}

.sequence-letter.error {
  animation: blink-red 0.5s;
}

.sequence-letter.highlight {
  background-color: #FFC046;
  color: #000;
  border: 2px solid black;
}

.sequence-letter.typed {
  background-color: #FFC046;
  /* Cor de destaque para caracteres digitados corretamente */
  color: #000;
  /* Cor do texto para caracteres digitados corretamente */
  border: 2px solid black;
}

.time-bar {
  background-color: #FFC046;
  height: 100%;
  transition: width 3s linear;
}

.time-bar-container {
  background-color: #ddd;
  border-radius: 10px;
  height: 20px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 8vw;
  overflow: hidden;
  width: 50%;
}

.svg-container {
  margin-left: 10px;
  width: 100px;
}

@keyframes blink-red {

  0%,
  100% {
    background-color: #FFC046;
  }

  50% {
    background-color: red;
  }
}

@keyframes correctInput {
  0% {
    background-color: white;
  }

  100% {
    background-color: lightgreen;
  }
}

@keyframes incorrectInput {
  0% {
    background-color: white;
  }

  100% {
    background-color: lightcoral;
  }
}